<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Rss reader{% endblock %}</title>
    {% stylesheets '@AndreyRssReaderBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>
    <div class="main">
        <div class="header">
            {% block header %}
                <p class="headerTitle">News</p>
            {% endblock %}
        </div>
        <div class="menu">
            {% block menu %}
                <ul>
                    <li class="menu_item">
                        <a href="http://symfony/rss_reader">Главная</a>
                    </li>
                    <li class="menu_item">
                        <a href="http://symfony/rss_reader/all">Все новости</a>
                    </li>
                    <li class="menu_item">
                        <a href="http://symfony/rss_reader/source">Источники</a>
                    </li>
                </ul>
            {% endblock %}
        </div>
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
        <div class="footer">
            {% block footer %}
            {% endblock %}
        </div>
    </div>
</body>
</html>