{% extends 'AndreyRssReaderBundle:Default:base.html.twig' %}
{% block body %}
    {% for chanel in chanels%}
        <div class="sourceNews">
            <h4>
                <a href="http://symfony/rss_reader/sourcenews/{{ chanel.id }}">{{ chanel.title }}</a>
            </h4>
            <p>Количество новостей: {{ chanel.count_news }}</p>
        </div>
    {% endfor %}
{% endblock %}