{% if (chanels == false) and (news == false) %}
    <p>Update unsuccessful</p>
{% else %}
    <p>Update successful</p>
{% endif %}
<p>Count of new chanels: {{ chanels }}</p>
<p>Count of new news: {{ news }}</p>